<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/home.css" />
</head>
<body>

    <ul id="homeLinks">
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">News</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
    </ul>

    <h1>This Home page is currently under construction</h1>
    <p>Yep yep</p>

</body>
</html>