<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/home.css" />
</head>
<body>
    <!-- <nav class="navbar navbar-defaul" role="navigation" >
        <div class = "header-nav-block">
            <p class="typewriter">let name = "Kenny Grandberry"</p>
             <ul class="nav navbar-nav">
                <li><a href="contact.asp">Contact</a></li>
                <li><a href="about.asp">About</a></li>
                <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </nav> -->

    <div class="spotlight-image">
        <div class="padding"></div> 
            <p class="typewriter">let name = "Kenny Grandberry"</p>
            <ul class="nav navbar-nav">
               <li><a href="contact.asp">Contact</a></li>
               <li><a href="about.asp">About</a></li>
               <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
           </ul>
    </div>

    <div class="about-section">
            <div class = "section-padding"></div>
            <img class = "personal-photo" src= "./images/headshotWedding.png">
            <p class="about-me"> Hi, I'm a Native Mobile Developer / Backend Developer who lives in Atlanta,GA. I love building robust full stack mobile applications that brings a client idea to life. </p>
        <div class="section-padding"></div>
    </div>
        
    <div class="portfolio-section">
        <div class="section-padding"></div>
        <h3 class="portfolio-title">My latest projects</h3>
        <div class="section-padding"></div>
        
        <div class="first-portfolio-app">
            <div class="portfolio-container">
                <div class="portfolio-image-container">
                    <img class ="iphone-app" src = "./images/linguallyNoWatermark.jpg">
                </div>
            </div>
            
            <div  id="first-portfolio-section" class="portfolio-container">
                <p>This app is for those whom speak a different language and looking for work. Also if you are in need for someone who speak a language which you are not native to you can find them with in your area.</p>
            </div>
        </div>
        

        <div class="second-portfolio-app">
            <div id="second-portfolio-section" class="portfolio-container">
                <p>This mobile app is used to help users find night clubs. Party promoters, and Club owners are also able to upload flyer to inform users of party in thier area.</p>
            </div>

            <div class="portfolio-container">
                <div class="portfolio-image-container">
                    <img class ="iphone-app" src = "./images/nightplugNoWatermark.jpg">
                </div>
            </div>
        </div>


        <div class="third-portfolio-app">
                <div class="portfolio-container">
                    <div class="portfolio-image-container">
                        <img class ="iphone-app" src = "./images/grizcrimeNoWatermark.jpg">
                    </div>
                </div>
                
                <div  id="third-portfolio-section" class="portfolio-container">
                    <p>This mobile app is used to detect crime in your nearby area. Your able to report any crime that you have witnessed in a specific area near you. From select different types of crime your able to alert other before they run into any danger.</p>
                </div>
        </div>
    </div>

    <div class="blog-section"></div>

    <div class="contact-section"></div>

    <div class="social-section"></div>

</body>
</html>